{namespace kdn=KDN\KdnEvents\ViewHelpers}

<f:comment>
    https://schema.org/Event
    https://search.google.com/structured-data/testing-tool?hl=de
</f:comment>
<f:spaceless>
<script type="application/ld+json">
<f:format.raw value="{" />

      "@context": "http://schema.org/",
      "@type": "Event",
      "name": {kdn:format.jsonEncode(value: event.title)},
      "startDate":"{f:format.date(date:event.eventStart, format:'c')}",
      "endDate":"{f:format.date(date:event.eventEnd, format:'c')}",
      "description": {kdn:format.jsonEncode(value: event.description, maxCharacters:250)},
      "url":"{f:uri.action(action:'show', absolute: 1, arguments: '{event : event}')}",
<f:if condition="{event.location}"><f:then>
        "location":
        <f:format.raw value="{" />
            "@type":"Place",
            "name":{kdn:format.jsonEncode(value: event.location.name)},
            "address":
            <f:format.raw value="{" />
                "@type": "PostalAddress"
                {f:if(condition: '{event.location.zip}', then: ', "postalCode": {kdn:format.jsonEncode(value: event.location.zip)}')}
                {f:if(condition: '{event.location.name}', then: ', "addressLocality": {kdn:format.jsonEncode(value: event.location.name)}')}
                {f:if(condition: '{event.location.street}', then: ', "streetAddress": {kdn:format.jsonEncode(value: event.location.street)}')}
            <f:format.raw value="}" />
        <f:format.raw value="}" />,
</f:then><f:else if="{event.customLocation}">
        "location":
        <f:format.raw value="{" />
            "@type":"Place",
            "name":{kdn:format.jsonEncode(value: event.customLocation)}
        <f:format.raw value="}" />,
</f:else></f:if>
    "performer":<f:format.raw value="{" />
        "@type": "PerformingGroup",
        "name":{kdn:format.jsonEncode(value: settings.microData.performer)}
    <f:format.raw value="}" />
<f:format.raw value="}" />
</script>
</f:spaceless>