<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<kdn:isFieldEnabled enabledFields="{enabledFields}" field="{field}">
	<f:then>
		<div class="{settings.framework.rowClasses}">
			<label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />:</label>
			<div class="{settings.framework.fieldWrappingClasses}">
				<f:form.hidden property="{entityField}" name="{entityField}" value="{f:if(condition: '{entityValue}', then:entityValue, else:NULL)}" />
				<div class="{settings.framework.valueClassesReadOnly}">{f:if(condition: '{displayValue}', then:displayValue, else:entityValue)}</div>
			</div>
		</div>
	</f:then>
</kdn:isFieldEnabled>

</html>