<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:form action="cancel" controller="Event" name="cancel" id="form-event-cancel"
        class="form-horizontal form-validate" enctype="multipart/form-data" arguments="{hash: registration.hash}" section="form-event-cancel">

    <div class="form-group row">
        <label for="email" class="col-md-4 control-label"><f:translate key="tx_kdnevents_domain_model_registration.email" />: <span class="required">*</span></label>
        <div class="control-wrap col-md-8">
            <f:form.textfield name="email" id="field-email" class="form-control validate validate-required validate-email" />
        </div>
    </div>

    <div class="form-group row form-submit">
        <div class="col-md-8 offset-md-4">
            <f:form.submit value="{f:translate(key: 'registration.cancel.form.action_submit')}" class="{settings.framework.submitClasses}" />
        </div>
    </div>

    <div class="form-group row required row-ba-notes">
        <label for="field-notes" class="col-md-4 control-label"><f:translate key="notes" /> <span class="required">*</span></label>
        <div class="control-wrap col-md-8">
            <f:form.textfield name="notes" id="field-notes" class="form-control" value="{notes}" />
        </div>
    </div>
</f:form>

</html>