<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="event-item">
    <h2 class="contentheading">{event.title}</h2>
    <f:if condition="{event.organizer}">
        <p class="small"><f:translate key="hosted_by" /> <span class="item-organizer">{event.organizer.name}</span></p>
    </f:if>
    <p>
        <f:format.raw><kdn:format.timespan dateStart="{registration.eventStart}" dateEnd="{registration.eventEnd}" format="{settings.single.dateFormatTimespan}" /></f:format.raw>
    </p>
</div>

</html>