<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <kdn:titleTag>
        <f:format.htmlentitiesDecode><f:translate key="invitation_for"/> {event.title}</f:format.htmlentitiesDecode>
    </kdn:titleTag>

    <div class="single-item event-item">
        <f:render partial="Event/Invitation/HeadContent" arguments="{_all}"/>
        <div class="event-block">
            <f:render partial="Event/Invitation/FormInvitation" arguments="{_all}"/>
        </div>
    </div>

    <f:render partial="Event/Details/LinkBackToEvent" arguments="{_all}"/>
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/kdn_events.js')}"></script>
</f:section>

</html>