{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
  <kdn:titleTag>
    <f:format.htmlentitiesDecode><f:translate key="invitation_for"/> {event.title}</f:format.htmlentitiesDecode>
  </kdn:titleTag>

  <f:render partial="Event/Invitation/HeadContent" arguments="{_all}"/>
  <f:render partial="Event/Invitation/FormConfirmation" arguments="{event:event, enabledFields: enabledFields, requiredFields: requiredFields, invitation:invitation, cryptKey:cryptKey, notes:notes}" />
  <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/kdn_events.js')}"></script>
</f:section>