<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{readOnly}">
    <f:then>
        <div class="{settings.framework.rowClasses}">
            <label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />: <span class="required">*</span></label>
            <div class="{settings.framework.fieldWrappingClassesReadOnly}">
                <f:form.hidden property="{entityField}" name="{entityField}" />
                <div class="{settings.framework.valueClassesReadOnly}">
                    <f:switch expression="{registration.{entityField}}">
                        <f:case value="1"><f:translate key="tx_kdnevents_domain_model_registration.{field}.1" /></f:case>
                        <f:case value="2"><f:translate key="tx_kdnevents_domain_model_registration.{field}.2" /></f:case>
                        <f:defaultCase><f:translate key="tx_kdnevents_domain_model_registration.{field}.3" /></f:defaultCase>
                    </f:switch>
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <div class="{settings.framework.rowClasses} required{kdn:isErrorField(field: entityField, errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
            <label for="field-{entityField}-1" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />: <span class="required">*</span></label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <f:form.radio property="{entityField}" value="1" class="form-check-input validate validate-required" id="field-{entityField}-1" />
                    <label class="form-check-label" for="field-{entityField}-1"><f:translate key="tx_kdnevents_domain_model_registration.{field}.1" /></label>
                </div>
                <div class="form-check form-check-inline">
                    <f:form.radio property="{entityField}" value="2" class="form-check-input validate validate-required" id="field-{entityField}-2" />
                    <label class="form-check-label" for="field-{entityField}-2"><f:translate key="tx_kdnevents_domain_model_registration.{field}.2" /></label>
                </div>
                <div class="form-check form-check-inline">
                    <f:form.radio property="{entityField}" value="3" class="form-check-input validate validate-required" id="field-{entityField}-3" />
                    <label class="form-check-label" for="field-{entityField}-3"><f:translate key="tx_kdnevents_domain_model_registration.{field}.3" /></label>
                </div>
            </div>
        </div>
    </f:else>
</f:if>

</html>