<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="{settings.framework.rowClasses} required row-ba-notes">
    <label for="field-notes" class="{settings.framework.labelClasses}"><f:translate key="notes" /> <span class="required">*</span></label>
    <div class="{settings.framework.fieldWrappingClasses}">
        <f:form.textfield name="notes" id="field-notes" class="{settings.framework.fieldClasses}" value="{notes}" />
    </div>
</div>

</html>