<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{choices}">
    <f:if condition="{readOnly}">
        <f:then>
            <f:if condition="{choices -> f:count()} > 0}">
                <f:alias map="{displayValueList: choices}">
                    <f:render partial="Event/Form/OptionalListFieldValue" arguments="{_all}" />
                </f:alias>
            </f:if>
        </f:then>
        <f:else>
            <div class="{settings.framework.rowClasses} {kdn:isFieldEnabled(enabledFields: enabledFields, field: field, then: '', else: 'd-none')}{kdn:isErrorField(field: field, errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
                <label for="field-{entityField}-1" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />: <kdn:isFieldRequired requiredFields="{requiredFields}" field="{field}"><span class="required">*</span></kdn:isFieldRequired></label>
                <div class="{settings.framework.fieldWrappingClasses} choice-list">
                    <f:for each="{choices}" as="choiceModel">
                        <div class="form-check">
                            <f:form.checkbox
                                    property="{entityField}"
                                    multiple="1"
                                    value="{choiceModel.uid}"
                                    class="form-check-input {kdn:isFieldRequired(requiredFields: requiredFields, field: field, then: 'validate validate-required')}" id="field-{entityField}-{choiceModel.uid}" />
                            <label class="form-check-label" for="field-{entityField}-{choiceModel.uid}">{choiceModel.name}</label>
                        </div>
                    </f:for>
                </div>
            </div>
        </f:else>
    </f:if>
</f:if>
</html>