<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<kdn:isFieldEnabled enabledFields="{enabledFields}" field="{field}">
	<f:then>
		<f:if condition="{labelPrefix}">
			<f:else>
				<f:variable name="labelPrefix" value="tx_kdnevents_domain_model_registration"/>
			</f:else>
		</f:if>
		<f:if condition="{readOnly}">
			<f:then>
				<f:variable name="entityValue" value="{registration.{entityField}}"/>
				<div class="{settings.framework.rowClasses}">
					<label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="{labelPrefix}.{field}" />:</label>
					<div class="{settings.framework.fieldWrappingClassesReadOnly}">
						<f:form.hidden property="{entityField}" name="{entityField}" value="{f:if(condition: '{entityValue}', then:entityValue, else:NULL)}" />
						<div class="{settings.framework.valueClassesReadOnly}">{f:if(condition: '{displayValue}', then:displayValue, else:entityValue)}</div>
					</div>
				</div>
			</f:then>
			<f:else>
				<div class="{settings.framework.rowClasses} {kdn:isErrorField(field:entityField, errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
					<label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="{labelPrefix}.{field}" />: <kdn:isFieldRequired requiredFields="{requiredFields}" field="{field}"><span class="required">*</span></kdn:isFieldRequired></label>
					<div class="{settings.framework.fieldWrappingClasses}">
						<f:spaceless>
							<f:switch expression="{renderType}">
								<f:case value="textarea">
									<f:form.textarea property="{entityField}" name="{entityField}" class="{settings.framework.fieldClasses} {extraClasses} {kdn:isFieldRequired(requiredFields: requiredFields, field: field, then: 'validate validate-required')}" />
								</f:case>
								<f:defaultCase>
									<f:form.textfield property="{entityField}" name="{entityField}" value="{f:if(condition: '{entityValue}', then:entityValue, else:NULL)}" class="{settings.framework.fieldClasses} {extraClasses} {kdn:isFieldRequired(requiredFields: requiredFields, field: field, then: 'validate validate-required')}" />
								</f:defaultCase>
							</f:switch>
						</f:spaceless>
					</div>
				</div>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:form.hidden property="{entityField}" name="{entityField}" />
	</f:else>
</kdn:isFieldEnabled>

</html>