<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<kdn:isFieldEnabled enabledFields="{enabledFields}" field="{field}">
	<f:then>
		<f:variable name="displayValue" value=""/>
		<f:for each="{displayValueList}" as="child">
			<f:if condition="{displayValue}">
				<f:then>
					<f:variable name="displayValue" value="{displayValue}, {child.name}"/>
				</f:then>
				<f:else>
					<f:variable name="displayValue" value="{child.name}"/>
				</f:else>
			</f:if>
		</f:for>
		<div class="{settings.framework.rowClasses}">
			<label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />:</label>
			<div class="{settings.framework.fieldWrappingClasses}">
				<f:for each="{displayValueList}" as="child">
					<f:form.checkbox
						property="{entityField}"
						multiple="1"
						checked="1"
						value="{child.uid}"
						class="form-check-input d-none" />
				</f:for>
				<div class="{settings.framework.valueClassesReadOnly}">{f:if(condition: '{displayValue}', then:displayValue, else:entityValue)}</div>
			</div>
		</div>
	</f:then>
</kdn:isFieldEnabled>

</html>