<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{readOnly}">
	<f:then>
		<f:variable name="entityValue" value="{registration.{entityField}}"/>
		<div class="{settings.framework.rowClasses}">
			<label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />: <span class="required">*</span></label>
			<div class="{settings.framework.fieldWrappingClassesReadOnly}">
				<f:form.hidden property="{entityField}" name="{entityField}" value="{f:if(condition: '{entityValue}', then:entityValue, else:NULL)}" />
				<div class="{settings.framework.valueClassesReadOnly}">{f:if(condition: '{displayValue}', then:displayValue, else:entityValue)}</div>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="{settings.framework.rowClasses} {kdn:isErrorField(field: entityField, errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
			<label for="{entityField}" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.{field}" />: <span class="required">*</span></label>
			<div class="{settings.framework.fieldWrappingClasses}">
				<f:form.textfield property="{entityField}" name="{entityField}" class="{settings.framework.fieldClasses} validate validate-required{f:if(condition: '{extraValidation}', then: ' {extraValidation}')}" />
			</div>
		</div>
	</f:else>
</f:if>

</html>