{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:form action="events" name="demand" object="{demand}" class="form-inline form-filter">

	<div class="form-group">
		<label for="searchTerm" class="control-label"><f:translate key="tx_kdnevents_domain_model_registration.search" />:</label>
		<f:form.textfield property="searchTerm" name="searchTerm" class="form-control" />
	</div>

	<f:if condition="{statusChoices}">
		<div class="form-group">
			<label for="event" class="control-label"><f:translate key="tx_kdnevents_domain_model_registration.status" />:</label>
			<f:form.select name="status" property="status" class="form-control" title="{f:translate(key:'tx_kdnevents_domain_model_registration.status_title')}">
				<f:form.select.option value="0"><f:translate key="status.select.all"/></f:form.select.option>
				<f:for as="statusLabel" each="{statusChoices}" key="statusId">
					<f:form.select.option value="{statusId}">{statusLabel}</f:form.select.option>
				</f:for>
			</f:form.select>
		</div>
	</f:if>

	<div class="form-group form-submit">
		<f:form.submit value="{f:translate(key: 'registration.demand.form.submit')}" class="btn btn-primary btn-submit" />
	</div>
</f:form>