{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:form name="demand" object="{demand}" class="form-inline form-filter">

	<div class="form-group">
		<label for="searchTerm" class="control-label"><f:translate key="tx_kdnevents_domain_model_registration.search" />:</label>
		<f:form.textfield property="searchTerm" name="searchTerm" class="form-control" />
	</div>

	<f:if condition="{events}">
		<div class="form-group">
			<label for="event" class="control-label"><f:translate key="tx_kdnevents_domain_model_registration.event" />:</label>
			<kdn:form.select name="event" property="event" options="{events}" class="form-control" optionValueField="uid" optionLabelField="titleWithDateAndRegistrationCount" />
		</div>
	</f:if>

	<f:if condition="{statusChoices}">
		<div class="form-group">
			<label for="event" class="control-label"><f:translate key="tx_kdnevents_domain_model_registration.status" />:</label>
			<f:form.select name="status" property="status" class="form-control" title="{f:translate(key:'tx_kdnevents_domain_model_registration.status_title')}">
				<f:form.select.option value="0"><f:translate key="status.select.all"/></f:form.select.option>
				<f:for as="status" each="{statusChoices}">
					<f:form.select.option value="{status}"><f:translate key="tx_kdnevents_domain_model_registration.status.{status}"/></f:form.select.option>
				</f:for>
			</f:form.select>
		</div>
	</f:if>

	<div class="form-group form-submit">
		<f:form.submit value="{f:translate(key: 'registration.demand.form.submit')}" class="btn btn-primary btn-submit" />
		<f:if condition="{registrations}">
			<f:link.action action="export" class="btn btn-primary"><f:translate key="export.excel" /></f:link.action>
			<f:link.action action="exportPdf" class="btn btn-primary"><f:translate key="export.pdf.participant_list" /></f:link.action>
		</f:if>
	</div>
</f:form>