<table class="tx-kdn-events" >
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.event_start" />
		</td>
		<td>
			{event.eventStart -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.event_end" />
		</td>
		<td>
			{event.eventEnd -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.registration_start" />
		</td>
		<td>
			{event.registrationStart -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.registration_end" />
		</td>
		<td>
			{event.registrationEnd -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.max_participants" />
		</td>
		<td>
			{event.maxParticipants}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.published" />
		</td>
		<td>
			{event.published}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kdnevents_domain_model_event.registrations" />
		</td>
		<td>
			{event.registrations}
		</td>
	</tr>
</table>