<f:flashMessages as="flashMessages">
    <f:for each="{flashMessages}" as="flashMessage">
        <f:if condition="{flashMessage.severity} == 2">
            <f:then>
                <f:variable name="flashMessageClass" value="alert-danger"/>
            </f:then>
            <f:else if="{flashMessage.severity} <= 0">
                <f:variable name="flashMessageClass" value="alert-success"/>
            </f:else>
            <f:else>
                <f:variable name="flashMessageClass" value="alert-warning"/>
            </f:else>
        </f:if>
        <div class="alert {flashMessageClass}">
            <f:if condition="{flashMessage.title}">
                <strong>{flashMessage.title}</strong><br>
            </f:if>
            <p>{flashMessage.message -> f:format.html()}</p>
        </div>
    </f:for>
</f:flashMessages>