<f:form.validationResults for="{object}">
    <f:if condition="{validationResults.flattenedErrors}">
        <p class="text-danger form-error">
            <f:translate key="form_error" />
        </p>
        <div style="display: none">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                {propertyPath}
                <f:for each="{errors}" as="error">
                    {error.code}: {error}
                </f:for>
            </f:for>
        </div>
    </f:if>
</f:form.validationResults>