{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Buttons">

</f:section>

<f:section name="content">
    <h1><f:translate key="evaluation.registrations_monthly" /></h1>
    <p class="row-item-back"><f:link.action controller="Evaluation" action="evaluation"><f:translate key="back" /></f:link.action></p>
    <f:render partial="FlashMessages" />
    <f:render partial="FormErrors" />

    <f:if condition="{headers}">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <f:for each="{headers}" as="label">
                        <th>{label}</th>
                    </f:for>
                </tr>
            </thead>
            <tbody>
            <f:for each="{evaluationData}" as="evaluationRow">
                <tr>
                    <td>{evaluationRow.title}</td>
                    <f:for each="{evaluationRow.columns}" as="count">
                        <td>{count}</td>
                    </f:for>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:if>

</f:section>