{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Buttons">

</f:section>

<f:section name="content">
	<h1><f:translate key="evaluation.heading" /></h1>

	<f:render partial="FlashMessages" />
	<f:render partial="FormErrors" />

	<p>
	<f:link.action controller="Evaluation" action="evaluateMonthly" class="btn btn-primary"><f:translate key="evaluation.registrations_monthly" /></f:link.action>
	</p>
	<p>
		<f:link.action controller="Evaluation" action="evaluateLocations" class="btn btn-primary"><f:translate key="evaluation.registrations_location" /></f:link.action>
	</p>
	<p>
		<f:link.action controller="Evaluation" action="evaluateCancellations" class="btn btn-primary"><f:translate key="evaluation.registrations_cancellations" /></f:link.action>
	</p>
</f:section>