<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>
<f:section name="paginator">
	<f:if condition="{pagination.numberOfPages} > 1">
		<div class="pagination-container">
			<ul class="pagination">
				<f:if condition="{pagination.previousPage}">
					<li class="page-item previous">
						<f:if condition="{pagination.previousPage} > 1">
							<f:then>
								<f:widget.link addQueryStringMethod="GET" arguments="{currentPage: pagination.previousPage}" class="page-link">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only"><f:translate key="paginate_previous" /></span>
								</f:widget.link>
							</f:then>
							<f:else>
								<f:widget.link addQueryStringMethod="GET" class="page-link">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only"><f:translate key="paginate_previous" /></span>
								</f:widget.link>
							</f:else>
						</f:if>
					</li>
				</f:if>
				<f:if condition="{pagination.displayRangeStart} > 1">
					<li class="page-item first">
						<f:widget.link addQueryStringMethod="GET" class="page-link">1</f:widget.link>
					</li>
				</f:if>
				<f:if condition="{pagination.hasLessPages}">
					<li class="page-item"><span class="page-link pagination-text">....</span></li>
				</f:if>
				<f:for each="{pagination.pages}" as="page">
					<f:if condition="{page.isCurrent}">
						<f:then>
							<li class="page-item active current"><span class="page-link pagination-text">{page.number}</span></li>
						</f:then>
						<f:else>
							<li class="page-item">
								<f:if condition="{page.number} > 1">
									<f:then>
										<f:widget.link addQueryStringMethod="GET" arguments="{currentPage: page.number}" class="page-link">{page.number}</f:widget.link>
									</f:then>
									<f:else>
										<f:widget.link addQueryStringMethod="GET" class="page-link">{page.number}</f:widget.link>
									</f:else>
								</f:if>
							</li>
						</f:else>
					</f:if>
				</f:for>
				<f:if condition="{pagination.hasMorePages}">
					<li class="page-item has-more"><span class="page-link pagination-text">....</span></li>
				</f:if>
				<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
					<li class="page-item last">
						<f:widget.link addQueryStringMethod="GET" arguments="{currentPage: pagination.numberOfPages}" class="page-link">{pagination.numberOfPages}</f:widget.link>
					</li>
				</f:if>
				<f:if condition="{pagination.nextPage}">
					<li class="page-item last next">
						<f:widget.link addQueryStringMethod="GET" arguments="{currentPage: pagination.nextPage}" class="page-link">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only"><f:translate key="paginate_next" /></span>
						</f:widget.link>
					</li>
				</f:if>
			</ul>
		</div>
		<div class="news-clear w-100"></div>
	</f:if>
</f:section>
</html>