<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{event.location}">
    <f:then>
        <dt><f:translate key="tx_kdnevents_domain_model_location" />:</dt>
        <dd>
            <f:format.nl2br>{event.location.fullName}</f:format.nl2br>
            <f:if condition="{event.location.description}">
                <br><a class="kdn-events-fancybox" href="#event-location-description"><f:translate key="tx_kdnevents_domain_model_location.description" /></a>
                <div id="event-location-description" style="display: none;">
                    <h3><f:translate key="tx_kdnevents_domain_model_location.description" />  </h3>
                    <f:format.html>{event.location.description}</f:format.html>
                </div>
            </f:if>
            <br><f:link.external uri="{event.location.mapsUrl}" target="_blank" class="external-link-new-window"><f:translate key="tx_kdnevents_domain_model_location.view_map" /></f:link.external>
        </dd>
    </f:then>
    <f:else if="{event.customLocation}">
        <dt><f:translate key="tx_kdnevents_domain_model_location" />:</dt>
        <dd>{event.customLocation}</dd>
    </f:else>
</f:if>

</html>