<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{event.relatedFiles}">
    <div class="event-block event-related event-related-files">
        <h4>
            <f:translate key="tx_kdnevents_domain_model_event.downloads"/>
        </h4>
        <ul class="list-group">
            <f:for each="{event.relatedFiles}" as="relatedFile">
                <li class="list-group-item">
                      <span class="event-related-files-link">
                          <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}"
                             target="_blank">
                              {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                          </a>
                      </span>
                    <span class="event-related-files-size">
                          {relatedFile.originalResource.size -> f:format.bytes()}
                      </span>
                </li>
            </f:for>
        </ul>
    </div>
</f:if>

</html>