<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="event-meta">
    <f:if condition="{event.status.showRegistrationInfo} && {event.maxParticipants}">
        <p class="event-open-places {f:if(condition: '{event.maxParticipantsReached}', then: 'no-open-places', else:'has-open-places')}">
            <f:format.raw><f:translate key="tx_kdnevents_domain_model_event.open_places" arguments="{0: '{f:if(condition: event.maxParticipantsReached, then: \'text-danger\', else:\'text-success\')}', 1:event.openPlaces}" /></f:format.raw>
            <f:if condition="{event.maxParticipantsReached} && {event.waitlistAvailable}">
                <br><small><f:translate key="waitlist_available" />.</small>
            </f:if>
        </p>
    </f:if>
    <dl>
        <dt><f:translate key="date_and_time" />:</dt>
        <dd>
            <f:for each="{event.eventTimes}" as="eventTime">
                <f:format.raw><kdn:format.timespan dateStart="{eventTime.timeStart}" dateEnd="{eventTime.timeEnd}" format="{settings.single.dateFormatTimespan}" showTime="1" /></f:format.raw><br>
            </f:for>
            <f:if condition="{settings.exportPid}">
                <div>
                <f:link.action action="icalDownload" arguments="{event : event}" pageUid="{settings.exportPid}"><f:translate key="event.icalDownload" /></f:link.action>
                </div>
            </f:if>
        </dd>
        <f:if condition="{event.tutor}">
            <dt><f:translate key="tx_kdnevents_domain_model_event.tutor" />:</dt>
            <dd>{event.tutor}</dd>
        </f:if>
        <f:render partial="Event/Details/EventLocation" arguments="{_all}"/>
        <f:if condition="{event.contact}">
            <dt><f:translate key="tx_kdnevents_domain_model_event.contact" />:</dt>
            <dd><f:link.email email="{event.contact}"><f:translate key="tx_kdnevents_domain_model_event.write_mail" /></f:link.email></dd>
        </f:if>

        <f:if condition="{event.status.showRegistrationInfo}">
            <f:if condition="{event.hasRegistrationStarted}">
                <f:then>
                    <f:if condition="{event.registrationIsOpen} && {event.registrationEnd}">
                        <f:then></f:then>
                        <f:else>
                            <dt><f:translate key="event.registrationPossibleUntil" />:</dt>
                            <dd>
                                <f:format.raw><kdn:format.timespan dateStart="{event.registrationEnd}" dateEnd="{event.registrationEnd}" format="{settings.single.dateFormatRegistration}" /></f:format.raw>
                            </dd>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <dt><f:translate key="event.registrationPossibleAfter" />:</dt>
                    <dd class="text-warning">
                        <strong>
                            <f:format.raw><kdn:format.timespan dateStart="{event.registrationStart}" dateEnd="{event.registrationStart}" format="{settings.single.dateFormatRegistration}" /></f:format.raw>
                        </strong>
                    </dd>
                </f:else>
            </f:if>
        </f:if>
    </dl>
    <f:if condition="{showDownloads}">
        <f:render partial="Event/Details/EventDownloads" arguments="{_all}" />
    </f:if>
</div>

</html>