<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:render partial="FlashMessages" />
<f:render partial="FormErrors" />

<f:form.validationResults for="registration">
	<f:comment>
	<div class="d-none">
		<f:debug inline="true">{event}</f:debug>
		<f:debug inline="true">{enabledFields}</f:debug>
		<f:debug inline="true">{requiredFields}</f:debug>
	</div>
	</f:comment>
	<f:variable name="costData" value="{kdn:event.price(event: event)}"/>
<f:form action="submit" controller="Event" object="{registration}" name="registration" id="form-event-registration"
	class="{settings.framework.formClasses}" enctype="multipart/form-data" arguments="{event: event}" section="block-event-registration">

	<f:form.hidden property="status" name="status" value="0" />

	<f:if condition="{event.isSeriesEvent}">
		<f:variable name="eventTimeChoices" value="{event.futureEventTimes}" />
		<f:if condition="{eventTimeChoices -> f:count()} > 1">
			<div class="{settings.framework.rowClasses} {kdn:isErrorField(field: 'eventTime', errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
				<label for="eventTime" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.event_time" />: <span class="required">*</span></label>
				<div class="{settings.framework.fieldWrappingClasses}">
					<f:form.select options="{eventTimeChoices}" optionValueField="uid" optionLabelField="title" property="eventTime" name="eventTime" class="{settings.framework.fieldClasses} validate validate-required" />
				</div>
			</div>
		</f:if>
	</f:if>

	<f:alias map="{field:'salutation', entityField: 'salutation', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'salutation\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/FieldSalutation" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'title', entityField: 'title', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'title\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'first_name', entityField: 'firstName', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'firstName\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'last_name', entityField: 'lastName', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'lastName\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'email', entityField: 'email', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'email\', then: 1, else: 0)}', extraValidation: 'validate-email'}">
		<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'birth_date', entityField: 'birthDate', entityValue: '{registration.birthDate -> f:format.date( format: \'d.m.Y\' )}'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:variable name="displayAddressFields" value="{costData.isChargeable} || !{settings.disableAddressForFreeEvents}"/>
	<f:if condition="{userLoggedIn} && {settings.disableAddressIfAuthenticated}">
		<f:variable name="displayAddressFields" value="0"/>
	</f:if>
	<f:if condition="{displayAddressFields}">
		<f:if condition="{costData.isChargeable}">
			<h4 class="event-form-subtitle billing-title"><f:translate key="billing_address" /></h4>
		</f:if>
		<f:alias map="{field:'street', entityField: 'street', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'street\', then: 1, else: 0)}'}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'zipcode', entityField: 'zipcode', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'zipcode\', then: 1, else: 0)}'}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'town', entityField: 'town', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'town\', then: 1, else: 0)}'}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>
		<f:comment>Move organisation field below address for chargeable events</f:comment>
		<f:if condition="{costData.isChargeable}">
			<f:alias map="{field:'organisation', entityField: 'organisation'}">
				<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
			</f:alias>
		</f:if>
	</f:if>

	<f:alias map="{field:'phone', entityField: 'phone', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'phone\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'occupation', entityField: 'occupation'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'work_experience', entityField: 'workExperience'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:if condition="{facilityChoices}">
		<div class="{settings.framework.rowClasses} {kdn:isFieldEnabled(enabledFields: enabledFields, field: '', then: 'required', else: 'd-none')}{kdn:isErrorField(field: 'facility', errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
			<label for="facility" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_facility" />: <kdn:isFieldRequired requiredFields="{requiredFields}" field="facility"><span class="required">*</span></kdn:isFieldRequired></label>
			<div class="{settings.framework.fieldWrappingClasses}">
				<f:form.select options="{facilityChoices}" optionValueField="uid" optionLabelField="name" property="facility" name="facility" class="{settings.framework.fieldClasses} {kdn:isFieldRequired(requiredFields: requiredFields, field: 'facility', then: 'validate validate-required')}" />
			</div>
		</div>
	</f:if>

	<f:if condition="{displayAddressFields} && {costData.isFreeOfCharge}">
		<f:alias map="{field:'organisation', entityField: 'organisation'}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>
	</f:if>

	<f:alias map="{field:'organisation_email', entityField: 'organisationEmail', extraClasses: 'validate-email'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'organisation_street', entityField: 'organisationStreet'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'organisation_zipcode', entityField: 'organisationZipcode'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'organisation_town', entityField: 'organisationTown'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'organisation_phone', entityField: 'organisationPhone'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'work_areas', entityField: 'workAreas', choices: workAreaChoices, readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'workAreas\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/FieldNamedModelChoices" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'customer_message', entityField: 'customerMessage', renderType: 'textarea'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<f:if condition="{event.termsAvailable}">
		<f:then>
			<div class="{settings.framework.rowClasses} required{kdn:isErrorField(field: 'agreeToTerms', errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
				<div class="{settings.framework.fieldWrappingClassesOffset}">
					<div class="form-check">
						<f:form.checkbox property="agreeToTerms" name="agreeToTerms" value="true" class="form-check-input validate validate-checkbox" id="agreeToTerms" />
						<label for="agreeToTerms" class="form-check-label">
							<f:translate key="event_form.new.form.agreeToTerms" />: <span class="required">*</span>
							(<a href="#register-privacy-confirmation" data-toggle="collapse"><f:translate key="event_form.new.form.terms" /></a>)
						</label>
						<div class="collapse" id="register-privacy-confirmation">
							<div class="event-terms">
								<f:format.html>{event.terms}</f:format.html>
							</div>
						</div>
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:form.hidden property="agreeToTerms" name="agreeToTerms" value="true" />
		</f:else>
	</f:if>

	<kdn:isPrivacyTermsFieldEnabled>
		<f:then>
			<div class="{settings.framework.rowClasses} required{kdn:isErrorField(field: 'privacyTerms', errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
				<div class="{settings.framework.fieldWrappingClassesOffset}">
					<div class="form-check">
						<f:form.checkbox property="privacyTerms" name="privacyTerms" value="true" class="form-check-input validate validate-checkbox" id="privacyTerms" />
						<label for="privacyTerms" class="form-check-label">
							<f:translate key="text_submit_confirm1"/> <f:link.page pageUid="{settings.privacyPid}" target="_blank"><f:translate key="text_submit_confirm2"/></f:link.page> <f:translate key="text_submit_confirm3"/>
							<span class="required">*</span>
						</label>
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:form.hidden property="privacyTerms" name="privacyTerms" value="true" />
		</f:else>
	</kdn:isPrivacyTermsFieldEnabled>

	<f:render partial="Event/Details/RegistrationPriceDetails" arguments="{_all}"/>

	<f:if condition="{settings.newsletter.enable}">
		<div class="{settings.framework.rowClasses} required{kdn:isErrorField(field: 'newsletter', errorList: validationResults.flattenedErrors, then: ' has-error', else: '')}">
			<div class="control-wrap col-md-8 offset-md-4">
				<div class="form-check">
					<f:form.checkbox property="newsletter" name="newsletter" value="true" class="form-check-input" id="newsletter" />
					<label for="newsletter" class="form-check-label">
						<f:translate key="registration.new.form.newsletter" />
					</label>
				</div>
			</div>
		</div>
	</f:if>

	<div class="{settings.framework.rowClasses} form-submit">
		<div class="{settings.framework.fieldWrappingClassesOffset}">
			<f:form.submit value="{f:translate(key: 'event_form.new.form.next')}" class="{settings.framework.submitClasses}" />
		</div>
	</div>

	<f:render partial="Event/Form/FieldNotes" arguments="{_all}" />
	<f:form.hidden name="confirmation" value="{cryptKey}" />

</f:form>
</f:form.validationResults>

</html>