<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{enableInvitation}">
    <kdn:invitation.isInvitationEnabled event="{event}" settings="{settings}">
        <f:variable name="invitationUri" value="{f:uri.action(controller: 'Invitation', action: 'show', arguments: '{event : event}', pageUid: '{settings.single.invitationPid}')}"/>
        <f:comment>Disable if uri contains login parameter</f:comment>
        <kdn:contains haystack="{invitationUri}" needle="return_url">
            <f:then>
            </f:then>
            <f:else>
                <f:if condition="{invitationUri}">
                    <div class="event-block event-block-invitation">
                        <f:variable name="invitationContent" value="{f:cObject(typoscriptObjectPath:'lib.kdnEventsContent.invitation')}"/>
                        <h4 class="invitation-header">
                            <a href="{invitationUri}" class="link-invitation-header">
                                <f:translate key="action_send_invitation"/>
                            </a>
                        </h4>
                        <f:if condition="{invitationContent}">
                            <f:then>
                                <f:format.raw>{invitationContent}</f:format.raw>
                            </f:then>
                            <f:else>
                                <p><f:translate key="action_send_invitation_info"/></p>
                            </f:else>
                        </f:if>
                        <f:comment>
                            <a href="{invitationUri}" class="link-overlay">
                                <span class="sr-only"><f:translate key="action_send_invitation"/></span>
                            </a>
                        </f:comment>
                    </div>
                </f:if>
            </f:else>
        </kdn:contains>
    </kdn:invitation.isInvitationEnabled>
</f:if>
</html>