<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<p class="row-item-back">
	<f:if condition="{settings.backPid}">
		<f:then>
			<f:link.page pageUid="{settings.backPid}">
				<f:format.raw>{settings.single.symbolBack}</f:format.raw>
				<f:translate key="backToList"/>
			</f:link.page>
		</f:then>
		<f:else>
			<f:link.action action="list">
				<f:format.raw>{settings.single.symbolBack}</f:format.raw>
				<f:translate key="backToList"/>
			</f:link.action>
		</f:else>
	</f:if>
</p>

</html>