<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{settings.backPid}">
	<p class="row-item-back">
	<f:if condition="{event}">
		<f:then>
			<f:link.action action="show" controller="Event" arguments="{event : event}" pageUid="{settings.detailPid}">
				<f:format.raw>{settings.single.symbolBack}</f:format.raw>
				<f:translate key="back_to_event"/>
			</f:link.action>
		</f:then>
		<f:else>
			<f:link.page pageUid="{settings.backPid}">
				<f:format.raw>{settings.single.symbolBack}</f:format.raw>
				<f:translate key="backToList"/>
			</f:link.page>
		</f:else>
	</f:if>
	</p>
</f:if>

</html>