<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{costData.isChargeable}">
	<f:then>
		<div class="price-details">
			<strong><f:translate key="admission_price"/>:</strong>
			<span class="field-value">
				<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{costData.priceGross}</f:format.number> EUR
			</span>
			<f:if condition="{costData.taxAmount}">
				<small>
					<br>
					inkl. {costData.taxRate}% MwSt.:
					<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{costData.taxAmount}</f:format.number> EUR
				</small>
			</f:if>
		</div>
	</f:then>
</f:if>

</html>