<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:variable name="renderRegHeader" value="1" />
<f:if condition="{event.status.registrationText}">
	<h4>
		<f:translate key="tx_kdnevents_domain_model_event.registration" />
	</h4>
	<f:variable name="renderRegHeader" value="0" />
	<div class="event-status-info">
		<f:format.html><kdn:eventMarkers event="{event}">{event.status.registrationText}</kdn:eventMarkers></f:format.html>
	</div>
</f:if>

<f:if condition="{event.registrationIsOpen}">
	<f:then>
		<f:if condition="{renderRegHeader}">
			<h4>
				<f:translate key="tx_kdnevents_domain_model_event.registration" />
			</h4>
		</f:if>
		<f:if condition="{event.status.isWaitlist}">
			<p class="info-row"><f:translate key="message.event.registrations.waitlist" /></p>
		</f:if>
		<f:render partial="Event/Details/FormRegister" arguments="{_all}" />
	</f:then>
	<f:else if="{event.maxParticipantsReached}">
		<f:if condition="{renderRegHeader}">
			<h4>
				<f:translate key="tx_kdnevents_domain_model_event.registration" />
			</h4>
		</f:if>
		<p class="info-row"><f:translate key="message.event.registrations.closed" /></p>
	</f:else>
</f:if>

</html>