<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{enableRegistration}">
    <f:then>
        <f:render partial="Event/Details/Registration" arguments="{_all}"/>
    </f:then>
    <f:else if="{showLoginForm}">
        <f:cObject typoscriptObjectPath="lib.kdnEventsLogin"/>
    </f:else>
    <f:comment>
    <f:else if="{event.registrationIsOpen} && {userLoggedIn} != true">
        <p>
            <f:translate key="registration.authenticationRequired"/>
        </p>
    </f:else>
    </f:comment>
</f:if>

</html>