<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="alert alert-success">
    <f:translate key="already_registered_info.{userRegistration.status}" />
</div>
<f:if condition="{event.isOnlineEvent} || {event.videoConferenceUrl}">
    <f:if condition="{event.videoConferenceUrl} || {event.videoConferenceComment}">
        <div class="alert alert-info">
            <f:if condition="{event.videoConferenceUrl}">
                <p>
                    <strong><f:translate key="tx_kdnevents_domain_model_event.video_conference_url" /></strong><br>
                    <a href="{event.videoConferenceUrl}" target="_blank">{event.videoConferenceUrl}</a>
                </p>
            </f:if>
            <f:if condition="{event.videoConferenceComment}">
                <p>
                    <strong><f:translate key="tx_kdnevents_domain_model_event.video_conference_comment" /></strong><br>
                    <f:format.raw>{event.videoConferenceComment}</f:format.raw>
                </p>
            </f:if>
        </div>
    </f:if>
</f:if>
<f:if condition="{userRegistration.canBeCancelled}">
    <f:then>
        <f:if condition="{registrationCancelPid}">
            <div class="alert alert-warning">
                <f:link.action action="cancel" controller="Event" pluginName="items" pageUid="{registrationCancelPid}" arguments="{hash : userRegistration.hash}">
                    <f:translate key="action_registration_cancel"/>
                </f:link.action>
            </div>
        </f:if>
    </f:then>
    <f:else>
        <div class="alert alert-warning">
            <f:format.raw><f:translate key="msg_status_cancel_not_possible"/></f:format.raw>
        </div>
    </f:else>
</f:if>

</html>