<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>Custom list view for mobile as definition list</f:comment>
<div class="event-item-list d-block d-lg-none">
    <f:for each="{paginatedRows}" as="event">
        <div class="list-item list-item-event">
            <f:if condition="{settings.list.showCategoryImage}">
                <div class="event-icon pull-left">
                    <f:for each="{event.eventCategories}" as="category">
                        <f:for each="{category.images}" as="image">
                            <f:image src="{image.uid}" alt="{f:if(condition: image.originalResource.originalFile.alternative, then: image.originalResource.originalFile.alternative, else: category.title)}" title="{category.title}" maxWidth="20" treatIdAsReference="1" />
                        </f:for>
                    </f:for>
                </div>
            </f:if>
            <h4 class="item-title"><f:link.action action="show" arguments="{event : event}" pageUid="{settings.detailPid}"> {event.title}</f:link.action></h4>
            <f:if condition="{event.subtitle}">
                <h5 class="item-subtitle">
                    {event.subtitle}
                </h5>
            </f:if>
            <dl class="dl-horizontal">
                <dt><f:translate key="tx_kdnevents_domain_model_event.event_date" />:</dt>
                <dd><f:format.date format="{settings.list.dateFormat}">{event.eventStart}</f:format.date></dd>
                <dt><f:translate key="tx_kdnevents_domain_model_event.application_deadline" />:</dt>
                <dd><f:format.date format="{settings.list.dateFormat}">{event.registrationEnd}</f:format.date></dd>
                <f:if condition="{event.location}">
                    <f:then>
                        <dt><f:translate key="tx_kdnevents_domain_model_event.location" />:</dt>
                        <dd>{event.location.name}</dd>
                    </f:then>
                    <f:else if="{event.customLocation}">
                        <dt><f:translate key="tx_kdnevents_domain_model_event.location" />:</dt>
                        <dd>{event.customLocation}</dd>
                    </f:else>
                </f:if>

            </dl>
        </div>
    </f:for>
</div>

</html>