<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h4 class="item-title">
    <f:if condition="{event.slug}">
        <f:then>
            <f:link.action action="show" arguments="{event : event}" pageUid="{settings.detailPid}">{event.title}</f:link.action>
        </f:then>
        <f:else>
            {event.title}
        </f:else>
    </f:if>
</h4>
<f:if condition="{event.subtitle}">
    <h5 class="item-subtitle">
        {event.subtitle}
    </h5>
</f:if>
<div class="row event-meta">
    <div class="col-12 col-lg-auto item-meta">
        <f:translate key="tx_kdnevents_domain_model_event.event_date" />:
        <f:if condition="{event.isSeriesEvent}">
            <f:then>
                <f:variable name="firstEventTime" value="{event.firstActiveEventTime}"/>
                <f:format.raw><kdn:format.timespan dateStart="{firstEventTime.timeStart}" dateEnd="{firstEventTime.timeEnd}" format="{settings.list.dateFormatTimespan}" showTime="1" /></f:format.raw>
            </f:then>
            <f:else>
                <f:format.raw><kdn:format.timespan dateStart="{event.eventStart}" dateEnd="{event.eventEnd}" format="{settings.list.dateFormatTimespan}" showTime="1" /></f:format.raw>
            </f:else>
        </f:if>
    </div>

    <f:if condition="{event.status.showRegistrationInfo}">
        <f:if condition="{event.hasRegistrationStarted}">
            <f:then>
                <f:if condition="{event.registrationEnd}">
                    <div class="col-12 col-lg-auto item-meta">
                        <f:translate key="tx_kdnevents_domain_model_event.application_deadline" />: <f:format.date format="{settings.list.dateFormat}">{event.registrationEnd}</f:format.date>
                    </div>
                </f:if>
            </f:then>
            <f:else>
                <div class="col-12 col-lg-auto item-meta">
                    <f:translate key="tx_kdnevents_domain_model_event.application_begin" />:
                    <strong class="text-warning"><f:format.date format="{settings.list.dateFormat}">{event.registrationStart}</f:format.date></strong>
                </div>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{event.location}">
        <f:then>
            <div class="col-12 col-lg-auto item-meta">
                <f:translate key="tx_kdnevents_domain_model_event.location" />: {event.location.name}
            </div>
        </f:then>
        <f:else if="{event.customLocation}">
            <div class="col-12 col-lg-auto item-meta">
                <f:translate key="tx_kdnevents_domain_model_event.location" />: {event.customLocation}
            </div>
        </f:else>
    </f:if>
    <f:if condition="{event.status.showRegistrationInfo} && {event.maxParticipants}">
        <div class="col-12 col-lg-auto item-meta">
            <f:format.raw><f:translate key="tx_kdnevents_domain_model_event.open_places" arguments="{0: '{f:if(condition: event.maxParticipantsReached, then: \'text-danger\', else:\'text-success\')}', 1:event.openPlaces}" /></f:format.raw>
            <f:if condition="{event.maxParticipantsReached} && {event.waitlistAvailable}">
                <span class="waitlist-available">(<f:translate key="waitlist_available" />)</span>
            </f:if>
        </div>
    </f:if>
</div>
<f:if condition="{event.description} && {settings.list.showDescription}">
    <div class="teaser-text" itemprop="description">
        {event.description -> f:format.crop(maxCharacters: '{settings.list.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
    </div>
</f:if>

</html>
