<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>Custom list view for desktop as table</f:comment>
<div class="event-item-list d-none d-lg-block frame-type-table">
    <table class="table table-condensed ce-table ce-table-bordered" >
        <tr>
            <th><f:translate key="tx_kdnevents_domain_model_event.event_date" /></th>
            <f:if condition="{settings.list.showCategoryImage}">
                <th>&nbsp;</th>
            </f:if>
            <th>
                <f:if condition="{settings.customEventHeader}">
                    <f:then>{settings.customEventHeader}</f:then>
                    <f:else><f:translate key="tx_kdnevents_domain_model_event.list.title" /></f:else>
                </f:if>
            </th>
            <th><f:translate key="tx_kdnevents_domain_model_event.application_deadline" /></th>
            <th><f:translate key="tx_kdnevents_domain_model_event.location" /></th>
        </tr>

        <f:for each="{paginatedRows}" as="event">
            <tr>
                <td><f:format.date format="{settings.list.dateFormat}">{event.eventStart}</f:format.date></td>
                <f:if condition="{settings.list.showCategoryImage}">
                    <td>
                        <f:for each="{event.eventCategories}" as="category">
                            <f:for each="{category.images}" as="image">
                                <f:image src="{image.uid}" alt="{f:if(condition: image.originalResource.originalFile.alternative, then: image.originalResource.originalFile.alternative, else: category.title)}" title="{category.title}" maxWidth="20" treatIdAsReference="1" />
                            </f:for>
                        </f:for>
                    </td>
                </f:if>
                <td><f:link.action action="show" arguments="{event : event}" pageUid="{settings.detailPid}">{event.title}</f:link.action></td>
                <td><f:format.date format="{settings.list.dateFormat}">{event.registrationEnd}</f:format.date></td>
                <td>
                    <f:if condition="{event.location}">
                        <f:then>
                            {event.location.name}
                        </f:then>
                        <f:else if="{event.customLocation}">
                            {event.customLocation}
                        </f:else>
                    </f:if>
                </td>
            </tr>
        </f:for>
    </table>
</div>

</html>