<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="list-item list-item-event{f:if(condition: '{event.isSeriesEvent}', then: ' event-series')}">
    <f:render partial="Event/List/ItemInner" arguments="{event: event, settings: settings}" />
</div>

</html>
