/*.form-inline .form-group {
    display: inline-block;
    margin-right: 10px;
}
.form-inline .form-group label {
    display: inline-block;
    margin-right: 5px;
}
.form-inline .form-group .form-control {
    display: inline-block;
}
.form-horizontal .form-submit {
    margin-top: 15px;
}
.form-horizontal .form-group {
    clear: both;
    margin-bottom: 15px;
}
.form-horizontal .form-group .controls,
.form-horizontal .form-group .form-control {
    display: block;
    margin-left: 160px;
    width: 400px;
}
.form-horizontal .form-group textarea.form-control {
    min-height: 300px;
}
.form-horizontal .form-group .control-label {
    display: block;
    width: 150px;
    float: left;
}
.form-horizontal .form-group div.checkbox {
    margin: 0 0 0 160px;
    width: auto;
    height: auto;
}
.form-horizontal .form-group label.checkbox {
    width: auto;
    height: auto;
    margin: 0;
}
.form-horizontal .form-group .col-md-offset-4 {
    margin: 0 0 0 160px;
}
.form-horizontal .form-group.error label {
    color: red;
}
.form-horizontal .form-group span.required {
    color: red;
}
.form-filter {
    margin-bottom: 15px;
}
.form-filter select{
    padding: 2px 4px;
    line-height: 16px;
}
.form-filter .btn {
    display: inline-block;
    padding: 3px 5px;
    line-height: 15px;
    vertical-align: middle;
    background-color:#E0E0E0;
    background-image:none;
    border:1px solid #7c7c7c;
    border-radius:2px;
    color:#434343;
    cursor:pointer;
    white-space:nowrap;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    text-decoration:none!important;
}

.form-filter .btn:hover {
    background: #ccc;
}
.form-filter a.btn {
    height: 15px;
}

dl.dl-horizontal {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
}
.dl-horizontal dt,
.dl-horizontal dd {
    line-height: 1.42857143;
    margin-left: 0;
    text-align: left;
    margin-top: 0;
}
.dl-horizontal dt {
    font-weight: normal;
    float: left;
    width: 200px;
    overflow: hidden;
    clear: left;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 300px;
        overflow: hidden;
        clear: left;
        text-align: left;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 310px;
    }
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display: table;
    content: " ";
}
.dl-horizontal dd:after,
.form-horizontal .form-group:after {
    clear: both;
}*/
.form-filter .form-group {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-filter .form-group label {
    display: inline-block;
    margin-right: 5px;
}
.form-filter .form-group select {
    max-width: 700px;
}
.form-filter .form-group .form-control {
    display: inline-block;
}
.form-check-table {
    margin-bottom: 15px;
}
.table-events th {
    background: #ccc;
}
.table-events td {
    padding: 3px 2px;
}
.file-control {
    margin-bottom: 6px;
}

dl.dl-event-notify {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
}
.dl-event-notify dt,
.dl-event-notify dd {
    line-height: 1.42857143;
    margin-left: 0;
    text-align: left;
    margin-top: 0;
}
.dl-event-notify dt {
    font-weight: normal;
    float: left;
    width: 200px !important;
    text-overflow: ellipsis;
    clear: left;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .dl-event-notify dt {
        width: 300px !important;
        clear: left;
        text-align: left;
    }
    .dl-event-notify dd {
        margin-left: 310px !important;;
    }
}