
.tx-kdn-events .form-group textarea.form-control{
    min-height: 120px;
    resize: vertical;
}
.event-terms {
    padding: 15px 0;
}
.event-terms p {
    font-size: .875rem;
}
.event-open-places {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 2rem;
}
.event-img-wrap {
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .event-img-wrap {
        float: right;
        margin-left: 10px;
    }
}

.row-ba-notes {
    position: absolute;
    left: -9999px;
    height: 1px;
    width: 1px;
    font-size: 1px;
}
p.row-item-back {
    clear: both;
    padding-top: 10px;
}
.tx-kdn-events .message-error {
    color: red;
    margin-bottom: 15px;
}
.event-form-subtitle {
    margin-top: 15px;
}
.form-group {
    clear: both;
    margin-bottom: 16px;
}
.form-group:after {
    clear: both;
    content: " ";
    display: table;
    box-sizing: border-box;
}
.form-group.has-error label,
.form-group.error label {
    color: red;
}
.form-group-error {
    color: red;
    font-size: 12px;
    display: none;
}
.form-group.has-error .form-group-error {
    clear: both;
    display: block;
}
.form-group span.required {
    color: red;
}
.tx-kdn-events p.info-row {
    font-weight: bold;
}
.event-block {
    clear: both;
    margin-top: 2rem;
    position: relative;
}
.event-block:first-child {
    margin-top: 0;
}
.event-item-list {
    margin-bottom: 2rem;
}
.event-item-list a,
.event-block a {
    color: #f8523c;
}
.event-block .btn-primary {
    background-color: #f8523c;
    border-color: #f8523c;
}
.event-block .btn-primary:not(:disabled):not(.disabled).active,
.event-block .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #f8523c;
    border-color: #f8523c;
    opacity: .8;
}
.event-block .link-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: .1;
    text-align: left;
    text-indent: -9999px;
    text-decoration: none;
}
.tx-kdn-events .page-link {
    color: #f8523c;
    border: 1px solid #dee2e6;
}
.tx-kdn-events .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f8523c;
    border-color: #f8523c;
}

.event-block form {
    margin-top: 1rem;
}
.event-block .block-header {
    margin-bottom: 1rem;
}
.list-item-event {
    margin-bottom: 1.5rem;
}
.list-item-event .teaser-text {
    margin-top: .5rem;
}
.list-item-event .teaser-text p {
    font-size: .875rem;
}
.list-item-event .item-meta {
    color: #215566;
    font-weight: bold;
    white-space: nowrap;
    font-size: .875rem;
}
.list-item-event .item-subtitle {
    color: #215566;
    font-size: 1rem;
    font-weight: bold;
}
.event-meta dt{
    color: #215566;
}
.event-item-subtitle {
    margin-bottom: 30px;
}
.list-header {
    margin-bottom: 2rem;
}
.frame-type-menu_section_pages > ul {
    margin-top: 15px;
    margin-left: 0;
    padding-left: 20px;
}
.frame-type-menu_section_pages > ul > li {
    margin-bottom: 15px;
}
.frame-type-menu_section_pages > ul > li > a{
    font-weight: bold;
}
.frame-type-menu_section_pages > ul > li > ul > li{
    margin-bottom: 5px;
}
.frame-type-menu_section_pages > ul > li > ul{
    margin-top: 5px;
    margin-left: 18px;
    padding-left: 0;
}

.form-newsletter .form-group.checkbox-inline {
    padding-left: 1.25rem;
}
.form-newsletter .form-group.checkbox-inline .col-md-2 {
    display: none;
}
.form-newsletter .form-control {
    max-width: 600px;
}
.form-newsletter select.form-control {
    display: inline-block;
    width: auto;
}
.form-newsletter .form-group .col-md-2:last-child {
    width: 100%;
    flex: 0 0 100%;
    max-width: 800px;
}
.price-details {
    margin: 1rem 0;
    padding: 5px 10px;
    background: #dadada;
    color: #333;
}