<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	data-namespace-typo3-fluid="true">
<be:moduleLayout>
	<f:be.pageRenderer
		includeCssFiles="{0:'{f:uri.resource(path:\'Css/Backend.css\')}'}"
		includeJsFiles="{0:'{f:uri.resource(path:\'JavaScript/Backend.js\')}'}"
		includeRequireJsModules="{
			0:'TYPO3/CMS/Backend/ContextMenu'
		}"
	/>

	<be:moduleLayout.button.linkButton
	  icon="kdn-events-registration"
	  title="{f:translate(key: 'heading.registrations')}"
	  link="{f:uri.action(controller: 'Backend', action: 'list')}"
	  showLabel="true"
	/>
	<be:moduleLayout.button.linkButton
			icon="kdn-events"
			title="{f:translate(key: 'heading.events')}"
			link="{f:uri.action(controller: 'Backend', action: 'events')}"
			showLabel="true"
	/>
	<be:moduleLayout.button.linkButton
			icon="kdn-events-evaluation"
			title="{f:translate(key: 'evaluation.heading')}"
			link="{f:uri.action(controller: 'Evaluation', action: 'evaluation')}"
			showLabel="true"
	/>

	<f:render section="Buttons" />
	<be:moduleLayout.button.shortcutButton />

	<f:render section="content" />
</be:moduleLayout>
</html>