{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Buttons">

</f:section>

<f:section name="content">
    <h1><f:translate key="heading.events" /></h1>
    <f:render partial="FlashMessages" />

    <f:render partial="FormErrors" />
    <f:render partial="Event/FilterEventForm" arguments="{_all}" />

    <f:if condition="{newItemPid}">
        <f:format.raw><kdn:be.editLink table="tx_kdnevents_domain_model_event" pid="{newItemPid}" /></f:format.raw>
    </f:if>

    <table class="table table-bordered table-condensed table-events tx_kdnevents typo3-dblist">
        <tr>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="title" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.title" />
                </kdn:be.demandOrder>
            </th>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="eventStart" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.event_start" />
                </kdn:be.demandOrder>
            </th>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="eventEnd" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.event_end" />
                </kdn:be.demandOrder>
            </th>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="registrationStart" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.registration_start" />
                </kdn:be.demandOrder>
            </th>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="registrationEnd" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.registration_end" />
                </kdn:be.demandOrder>
            </th>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="published" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.published" />
                </kdn:be.demandOrder>
            </th>
            <th>
                <kdn:be.demandOrder demand="{demand}" field="registrations" action="events">
                    <f:translate key="tx_kdnevents_domain_model_event.registrations" />
                </kdn:be.demandOrder>
            </th>
            <th> </th>
        </tr>

        <f:for each="{events}" as="event">
            <tr>
                <td>{event.title}</td>
                <td>{event.eventStart -> f:format.date(format:'d.m.Y')}</td>
                <td>{event.eventEnd -> f:format.date(format:'d.m.Y')}</td>
                <td>{event.registrationStart -> f:format.date(format:'d.m.Y')}</td>
                <td>{event.registrationEnd -> f:format.date(format:'d.m.Y')}</td>
                <td>{event.published}</td>
                <td>{event.registrations}
                    <f:if condition="{event.maxParticipants}">
                        / {event.maxParticipants}
                    </f:if>
                </td>
                <td><f:format.raw><kdn:be.editLink object="{event}" table="tx_kdnevents_domain_model_event" /></f:format.raw></td>
            </tr>
        </f:for>
    </table>

</f:section>