{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Buttons">

</f:section>

<f:section name="content">
<h1><f:translate key="heading.registrations" /></h1>
	<f:render partial="FlashMessages" />

	<f:render partial="FormErrors" />
	<f:render partial="Event/FilterForm" arguments="{_all}" />

	<f:if condition="{registrations}">
		<f:then>
			<f:form action="notify" controller="Backend" name="mailing" id="form-mailing" object="{mailing}" class="form-horizontal">
				<table class="table table-bordered table-condensed table-events tx_kdnevents typo3-dblist">
					<tr class="c-headLine">
						<th title="{f:translate(key: 'backend.mailing.select_all')}">
							<label for="kdn-events-check-all" class="sr-only">
								<f:translate key="backend.mailing.select_all" />
							</label>
							<input type="checkbox" name="checkAll" id="kdn-events-check-all" value="1" />
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="lastName">
								<f:translate key="tx_kdnevents_domain_model_registration.last_name" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="firstName">
								<f:translate key="tx_kdnevents_domain_model_registration.first_name" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="email">
								<f:translate key="tx_kdnevents_domain_model_registration.email" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="phone">
								<f:translate key="tx_kdnevents_domain_model_registration.phone" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="organisation">
								<f:translate key="tx_kdnevents_domain_model_registration.organisation" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="status">
								<f:translate key="tx_kdnevents_domain_model_registration.status" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="event.title">
								<f:translate key="tx_kdnevents_domain_model_registration.event" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="eventTime.timeStart">
								<f:translate key="event_time_period" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="town">
								<f:translate key="tx_kdnevents_domain_model_registration.town" />
							</kdn:be.demandOrder>
						</th>
						<th>
							<kdn:be.demandOrder demand="{demand}" field="crdate">
								<f:translate key="tx_kdnevents_domain_model_registration.crdate" />
							</kdn:be.demandOrder>
						</th>
						<th> </th>
						<th> </th>
					</tr>

					<f:for each="{registrations}" as="registration">
						<tr class="db_list_normal">
							<td><f:form.checkbox property="recipients" class="kdn-event-cb" value="{registration.uid}" /></td>
							<td>{registration.lastName}</td>
							<td>{registration.firstName}</td>
							<td><f:if condition="{registration.email}"><a href="mailto:{registration.email}">E-Mail</a></f:if> </td>
							<td>{registration.phone}</td>
							<td>{registration.organisation}</td>
							<td><f:translate key="tx_kdnevents_domain_model_registration.status.{registration.status}" /></td>
							<td>{registration.event.title}</td>
							<td><f:format.date format="d.m.Y H:i:s">{registration.eventStart}</f:format.date></td>
							<td>{registration.town}</td>
							<td><f:format.date format="d.m.Y H:i:s">{registration.crdate}</f:format.date></td>
							<td><f:format.raw><kdn:be.editLink object="{registration}" table="tx_kdnevents_domain_model_registration" /></f:format.raw></td>
							<td><f:format.raw><kdn:be.editLink object="{registration}" table="tx_kdnevents_domain_model_registration" action="clickmenu" /></f:format.raw></td>
						</tr>
					</f:for>
				</table>
				<div class="form-group form-submit" id="row-mailing-submit">
					<f:form.submit value="{f:translate(key: 'registration.mailing.form.submit')}" class="btn btn-primary btn-submit" />
				</div>
			</f:form>

		</f:then>
		<f:else>
			<p><f:translate key="message.no_registrations" /></p>
		</f:else>
	</f:if>

</f:section>