{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Buttons">

</f:section>

<f:section name="content">
	<h1><f:translate key="heading.mailing" /></h1>
	<f:render partial="FlashMessages" />
	<f:render partial="FormErrors" />

	<h2>{event.title}</h2>
	<p><kdn:format.timespan dateStart="{event.eventStart}" dateEnd="{event.eventEnd}" format="%A, %d. %B %Y" /></p>

	<f:if condition="{registrations}">
		<f:then>
			<f:form action="notify" controller="Backend" name="mailing" id="form-mailing" object="{mailing}" class="form-horizontal" enctype="multipart/form-data">

				<table class="table table-condensend tx_kdnevents typo3-dblist form-check-table">
					<tr class="c-headLine">
						<th title="{f:translate(key: 'backend.mailing.select_all')}">
							<label for="kdn-events-check-all" class="sr-only">
								<f:translate key="backend.mailing.select_all" />
							</label>
							<input type="checkbox" name="checkAll" id="kdn-events-check-all" value="1" />
						</th>
						<th>
							<f:translate key="tx_kdnevents_domain_model_registration.last_name" />
						</th>
						<th>
							<f:translate key="tx_kdnevents_domain_model_registration.first_name" />
						</th>
						<th>
							<f:translate key="tx_kdnevents_domain_model_registration.email" />
						</th>
					</tr>

					<f:for each="{registrations}" as="registration">
						<tr class="db_list_normal">
							<td><f:form.checkbox property="recipients" class="kdn-event-cb" value="{registration.uid}" /></td>
							<td>{registration.lastName}</td>
							<td>{registration.firstName}</td>
							<td>{registration.email}</td>
						</tr>
					</f:for>
				</table>

				<div class="form-group">
					<div class="checkbox">
						<label for="htmlMode" class="checkbox">
							<f:form.checkbox property="htmlMode" name="htmlMode" value="true" id="htmlMode" />
							<f:translate key="mailing.htmlMode" />
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><f:translate key="mailing.sender" />:</div>
					<div class="col-xs-12 col-sm-8 col-md-5">
						<div class="form-control">
							{senderFromName} &lt;{senderFromEmail}&gt;
						</div>
					</div>
				</div>


				<f:form.validationResults for="mailing.subject">
					<div class="form-group required{f:if(condition: validationResults.errors, then: ' error')}">
				</f:form.validationResults>
					<label for="subject" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><f:translate key="mailing.subject" />: <span class="required">*</span></label>
					<div class="col-xs-12 col-sm-8 col-md-5">
						<f:form.textfield property="subject" name="subject" class="form-control validate validate-required" />
					</div>
				</div>


				<f:form.validationResults for="mailing.body">
					<div class="form-group required{f:if(condition: validationResults.errors, then: ' error')}">
				</f:form.validationResults>
					<label for="body" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><f:translate key="mailing.body" />: <span class="required">*</span></label>
					<div class="col-xs-12 col-sm-8 col-md-5">
						<f:form.textarea property="body" name="body" class="form-control validate validate-required" rows="20" cols="50" />
					</div>
				</div>

				<div class="form-group">
					<label for="subject" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><f:translate key="mailing.attachments" />:</label>
					<div class="controls col-xs-12 col-sm-8 col-md-5">
						<div class="file-control"><f:form.upload property="attachment1" /></div>
						<div class="file-control"><f:form.upload property="attachment2" /></div>
						<div class="file-control"><f:form.upload property="attachment3" /></div>
						<div class="file-control"><f:form.upload property="attachment4" /></div>
						<div class="file-control"><f:form.upload property="attachment5" /></div>
						<div class="file-control"><f:form.upload property="attachment6" /></div>
					</div>
				</div>
				<div class="form-group form-submit" id="row-mailing-submit">
					<div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-2">
						<f:form.submit value="{f:translate(key: 'registration.mailing.form.submit')}" class="btn btn-primary btn-submit" />
					</div>
				</div>
			</f:form>

			<f:if condition="{markers}">
				<h3><f:translate key="registration.mailing.availableMarkers" /></h3>
				<dl class="dl-horizontal dl-event-notify">
				<f:for each="{markers}" as="value" key="marker">
					<dt>{marker}</dt>
					<dd>{value}</dd>
				</f:for>
				</dl>
			</f:if>

		</f:then>
		<f:else>
			<p><f:translate key="message.no_registrations" /></p>
		</f:else>
	</f:if>
	<p class="row-item-back"><f:link.action action="list"><f:translate key="backToList" /></f:link.action></p>

</f:section>