{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Event/Cancel/HeadContent" arguments="{_all}" />
	<div class="event-block event-cancel row" id="block-event-cancel">
		<div class="col-lg-8 order-1 order-lg-0">

			<f:if condition="{showForm}">
				<f:then>
					<p><f:translate key="registration_cancel_info" /></p>
					<f:render partial="FlashMessages" />
					<f:render partial="Event/Cancel/CancelForm" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render partial="FlashMessages" />
				</f:else>
			</f:if>
		</div>
	</div>
	<f:render partial="Event/Details/LinkBackToEvent" arguments="{_all}"/>
	<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/kdn_events.js')}"></script>

</f:section>