<f:layout name="Default" />

<f:section name="main">
	<f:if condition="!{settings.disableListHeader}">
		<h2 class="list-header">
			<f:if condition="{settings.customPageHeader}">
				<f:then>{settings.customPageHeader}</f:then>
				<f:else><f:translate key="list.heading" /></f:else>
			</f:if>
		</h2>
	</f:if>
	<f:render partial="FlashMessages" />

	<!--TYPO3SEARCH_end-->
	<f:if condition="{events}">
		<f:then>
			<f:if condition="{settings.topEventsRestriction} == 1">
				<f:then>
					<div class="event-item-list top-events">
						<f:for each="{events}" as="event">
							<f:render partial="Event/List/TopItem" arguments="{event: event, settings: settings}" />
						</f:for>
					</div>
				</f:then>
				<f:else>
					<f:widget.paginate objects="{events}" as="paginatedRows" configuration="{settings.list.paginate}">
						<div class="event-item-list">
							<f:for each="{paginatedRows}" as="event">
								<f:render partial="Event/List/Item" arguments="{event: event, settings: settings}" />
							</f:for>
						</div>
					</f:widget.paginate>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<div class="no-events-found">
				<f:translate key="list_noeventsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>