<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <kdn:titleTag>
        <f:format.htmlentitiesDecode>{event.title}</f:format.htmlentitiesDecode>
    </kdn:titleTag>

    <f:render partial="Event/MetaData" arguments="{event:event, settings:settings}"/>
    <div class="event-item">
        <h2 class="contentheading">{event.title}</h2>
        <f:if condition="{event.organizer}">
            <p class="small">
                <f:translate key="hosted_by"/>
                <span class="item-organizer">{event.organizer.name}</span></p>
        </f:if>
        <div class="event-block row">
            <div class="col-lg-8">
                <f:if condition="{event.subtitle}">
                    <h4 class="event-item-subtitle">
                        {event.subtitle}
                    </h4>
                </f:if>
                <f:render partial="Event/Details/MediaContainer" arguments="{media: event.media, settings:settings}" />
                <f:if condition="{event.description}">
                    <div class="mb-5">
                    <f:format.html>{event.description}</f:format.html>
                    </div>
                </f:if>
                <f:render partial="Event/Details/InvitationLink" arguments="{_all}"/>
                <div class="event-block event-registration" id="block-event-registration">
                    <f:variable name="userRegistration" value="{kdn:event.registrationInfo(event: event)}"/>
                    <f:if condition="{userRegistration}">
                        <f:then>
                            <f:render partial="Event/Details/UserAlreadyRegistered" arguments="{_all}"/>
                        </f:then>
                        <f:else>
                            <f:render partial="Event/Details/UserNotRegistered" arguments="{_all}"/>
                        </f:else>
                    </f:if>
                </div>
            </div>
            <div class="col-lg-4">
                <f:render partial="Event/Details/EventMeta" arguments="{_all}"/>
            </div>
        </div>
    </div>

    <f:render partial="Event/Details/LinkBackToList" arguments="{_all}"/>
    <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/kdn_events.js')}"></script>
</f:section>

</html>