{namespace kdn=KDN\KdnEvents\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
  <kdn:titleTag>
    <f:format.htmlentitiesDecode>{event.title}</f:format.htmlentitiesDecode>
  </kdn:titleTag>

  <f:render partial="Event/Submit/HeadContent" arguments="{_all}" />
  <f:render partial="Event/Submit/Registration" arguments="{_all}" />

  <f:render partial="Event/Details/LinkBackToEvent" arguments="{_all}"/>
  <script type="text/javascript" src="{f:uri.resource(path:'JavaScript/kdn_events.js')}"></script>
</f:section>