{namespace kdn=KDN\KdnEvents\ViewHelpers}

<f:form action="invite" controller="Invitation" object="{invitation}" name="invitation" id="form-event-invitation" class="{settings.framework.formClasses} form-confirmation" enctype="multipart/form-data" arguments="{event: event}">

    <div class="event-block">
        <div class="form-group form-submit">
            <div class="">
                <f:form.submit name="back" value="< {f:translate(key: 'event_form.new.form.back')}" class="{settings.framework.backClasses}" />
            </div>
        </div>
    </div>
    <div class="event-block">

        <f:variable name="registration" value="{invitation}"/>
        <f:render partial="FlashMessages" />
        <f:render partial="FormErrors" />

        <f:alias map="{field:'salutation', entityField: 'salutation', readOnly: 1}">
            <f:render partial="Event/Form/FieldSalutation" arguments="{_all}" />
        </f:alias>

        <f:alias map="{field:'first_name', entityField: 'firstName', readOnly: 1}">
            <f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
        </f:alias>

        <f:alias map="{field:'last_name', entityField: 'lastName', readOnly: 1}">
            <f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
        </f:alias>

        <f:alias map="{field:'email', entityField: 'email', readOnly: 1, extraValidation: 'validate-email'}">
            <f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
        </f:alias>

        <f:alias map="{field:'message', entityField: 'message', readOnly: 1, renderType: 'textarea'}">
            <f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
        </f:alias>

        <f:render partial="Event/Form/FieldNotes" arguments="{_all}" />
        <f:form.hidden name="confirmation" value="{cryptKey}" />
    </div>

    <div class="event-block">
        <div class="form-group form-submit">
            <div class="form-buttons-wrap">
                <f:form.submit value="{f:translate(key: 'invitation_form.new.form.confirm')}" class="{settings.framework.submitClasses}" />
                <f:form.submit name="back" value="< {f:translate(key: 'event_form.new.form.back')}" class="{settings.framework.backClasses}" />
            </div>
        </div>
    </div>

</f:form>