<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:render partial="FlashMessages" />
<f:render partial="FormErrors" />

<f:form.validationResults for="invitation">
	<f:comment>
	<div class="d-none">
		<f:debug inline="true">{event}</f:debug>
	</div>
	</f:comment>
<f:form action="submit" controller="Invitation" object="{invitation}" name="invitation" id="form-event-invitation"
	class="{settings.framework.formClasses}" enctype="multipart/form-data" arguments="{event: event}" section="block-event-invitation">

	<f:variable name="registration" value="{invitation}"/>
	<f:alias map="{field:'salutation', entityField: 'salutation', readOnly: '{kdn:inArray(haystack: fixedProperties, needle: \'salutation\', then: 1, else: 0)}'}">
		<f:render partial="Event/Form/FieldSalutation" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'first_name', entityField: 'firstName', readOnly: 0}">
		<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'last_name', entityField: 'lastName', readOnly: 0}">
		<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'email', entityField: 'email', readOnly: 0, extraValidation: 'validate-email'}">
		<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
	</f:alias>

	<f:alias map="{field:'message', entityField: 'message', renderType: 'textarea', labelPrefix: 'tx_kdnevents_domain_model_invitation'}">
		<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
	</f:alias>

	<div class="{settings.framework.rowClasses} form-submit">
		<div class="{settings.framework.fieldWrappingClassesOffset}">
			<f:form.submit value="{f:translate(key: 'event_form.new.form.next')}" class="{settings.framework.submitClasses}" />
		</div>
	</div>

	<f:render partial="Event/Form/FieldNotes" arguments="{_all}" />
	<f:form.hidden name="confirmation" value="{cryptKey}" />

</f:form>
</f:form.validationResults>

</html>