<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="invitation-info">
    <h2><f:translate key="invitation_for"/></h2>
    <h3 class="contentheading item-title event-title">{event.title}</h3>
    <f:if condition="{event.organizer}">
        <p class="small">
            <f:translate key="hosted_by"/>
            <span class="item-organizer">{event.organizer.name}</span></p>
    </f:if>
    <f:render partial="Event/MetaData" arguments="{event:event, settings:settings}"/>
</div>

</html>