<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:variable name="costData" value="{kdn:event.price(event: event)}"/>
<f:form action="register" controller="Event" object="{registration}" name="registration" id="form-event-registration" class="{settings.framework.formClasses} form-confirmation" enctype="multipart/form-data" arguments="{event: event}">

	<div class="event-block">
		<div class="form-group form-submit">
			<div class="">
				<f:form.submit name="back" value="< {f:translate(key: 'event_form.new.form.back')}" class="{settings.framework.backClasses}" />
			</div>
		</div>
	</div>
	<div class="event-block">

		<f:render partial="FlashMessages" />
		<h3 class="block-header"><f:translate key="message.confirmation.heading" /></h3>
		<f:render partial="FormErrors" />

		<f:form.hidden property="status" name="status" />

		<f:if condition="{registration.eventTime}">
			<div class="{settings.framework.rowClasses}">
				<label for="eventTime" class="{settings.framework.labelClasses}"><f:translate key="tx_kdnevents_domain_model_registration.event_time" />:</label>
				<div class="{settings.framework.fieldWrappingClassesReadOnly}">
					<f:form.hidden property="eventTime" name="eventTime" />
					<div class="{settings.framework.valueClassesReadOnly}">{registration.eventTime.title}</div>
				</div>
			</div>
		</f:if>

		<f:alias map="{field:'salutation', entityField: 'salutation', readOnly: 1}">
			<f:render partial="Event/Form/FieldSalutation" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'title', entityField: 'title', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'first_name', entityField: 'firstName', readOnly: 1}">
			<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'last_name', entityField: 'lastName', readOnly: 1}">
			<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'email', entityField: 'email', readOnly: 1, extraValidation: 'validate-email'}">
			<f:render partial="Event/Form/RequiredTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'birth_date', entityField: 'birthDate', readOnly: 1, entityValue: '{registration.birthDate -> f:format.date( format: \'d.m.Y\' )}'}">
			<f:render partial="Event/OptionalFieldValue" arguments="{_all}" />
		</f:alias>

		<f:if condition="{costData.isChargeable}">
			<h4 class="event-form-subtitle billing-title"><f:translate key="billing_address" /></h4>
		</f:if>

		<f:alias map="{field:'street', entityField: 'street', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'zipcode', entityField: 'zipcode', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'town', entityField: 'town', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:comment>Move organisation field below address for chargeable events</f:comment>
		<f:if condition="{costData.isChargeable}">
			<f:alias map="{field:'organisation', entityField: 'organisation', readOnly: 1}">
				<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
			</f:alias>
		</f:if>

		<f:alias map="{field:'phone', entityField: 'phone', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'occupation', entityField: 'occupation', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'work_experience', entityField: 'workExperience', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:if condition="{registration.facility}">
			<f:alias map="{field:'facility', entityField: 'facility', displayValue: registration.facility.name}">
				<f:render partial="Event/OptionalFieldValue" arguments="{_all}" />
			</f:alias>
		</f:if>

		<f:if condition="{costData.isFreeOfCharge}">
			<f:alias map="{field:'organisation', entityField: 'organisation', readOnly: 1}">
				<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
			</f:alias>
		</f:if>

		<f:alias map="{field:'organisation_street', entityField: 'organisationStreet', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'organisation_zipcode', entityField: 'organisationZipcode', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'organisation_town', entityField: 'organisationTown', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'organisation_email', entityField: 'organisationEmail', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'organisation_phone', entityField: 'organisationPhone', readOnly: 1}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>


		<f:alias map="{field:'work_areas', entityField: 'workAreas', choices: registration.workAreas, readOnly: 1}">
			<f:render partial="Event/Form/FieldNamedModelChoices" arguments="{_all}" />
		</f:alias>

		<f:alias map="{field:'customer_message', entityField: 'customerMessage', readOnly: 1, renderType: 'textarea'}">
			<f:render partial="Event/Form/OptionalTextField" arguments="{_all}" />
		</f:alias>

		<f:if condition="{event.termsAvailable}">
			<f:then>
				<div class="{settings.framework.rowClasses} row-checkbox">
					<div class="col-{settings.framework.columnCount} col-xs-{settings.framework.columnCount} control-wrap ">
						<div class="{settings.framework.valueClassesReadOnly}">
							<f:form.hidden property="agreeToTerms" name="agreeToTerms" />
							<f:translate key="event_form.new.form.agreeToTerms" />: <span class="required">*</span>
							(<a href="#register-confirmation" data-toggle="collapse"><f:translate key="event_form.new.form.terms" /></a>)
							<div class="collapse" id="register-confirmation">
								<div class="well">
									<div class="event-terms">
										<f:format.html>{event.terms}</f:format.html>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</f:then>
			<f:else>
				<f:form.hidden property="agreeToTerms" name="agreeToTerms" value="true" />
			</f:else>
		</f:if>


		<f:form.hidden property="privacyTerms" name="privacyTerms" />
		<kdn:isPrivacyTermsFieldEnabled>
			<f:then>
				<div class="{settings.framework.rowClasses} row-checkbox">
					<div class="col-{settings.framework.columnCount} col-xs-{settings.framework.columnCount} control-wrap">
						<div class="{settings.framework.valueClassesReadOnly}">
							<f:translate key="text_submit_confirm1"/> <f:link.page pageUid="{settings.privacyPid}" target="_blank"><f:translate key="text_submit_confirm2"/></f:link.page> <f:translate key="text_submit_confirm3"/>
							<span class="required">*</span>
						</div>
					</div>
				</div>
			</f:then>
		</kdn:isPrivacyTermsFieldEnabled>
		<f:if condition="{settings.newsletter.enable}">
			<f:if condition="{registration.newsletter}">
				<f:then>
					<div class="form-group row-checkbox">
						<div class="control-wrap ">
							<div class="control-value">
								<f:translate key="registration.new.form.newsletter" />
							</div>
						</div>
					</div>
				</f:then>
			</f:if>
			<f:form.hidden property="newsletter" name="newsletter" />
		</f:if>

		<f:render partial="Event/Form/FieldNotes" arguments="{_all}" />
		<f:form.hidden name="confirmation" value="{cryptKey}" />
	</div>

	<f:render partial="Event/Details/RegistrationPriceDetails" arguments="{_all}"/>

	<div class="event-block">
		<div class="form-group form-submit">
			<div class="form-buttons-wrap">
				<f:if condition="{costData.isChargeable}">
					<f:then>
						<f:form.submit value="{f:translate(key: 'event_form.new.form.confirm_chargeable')}" class="{settings.framework.submitClasses}" />
					</f:then>
					<f:else>
						<f:form.submit value="{f:translate(key: 'event_form.new.form.confirm')}" class="{settings.framework.submitClasses}" />
					</f:else>
				</f:if>
				<f:form.submit name="back" value="< {f:translate(key: 'event_form.new.form.back')}" class="{settings.framework.backClasses}" />
			</div>
		</div>
	</div>

</f:form>
</html>