<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="event-item">
    <h2 class="contentheading">{event.title}</h2>

    <dl class="dl-horizontal">
        <dt><f:translate key="date_and_time" />:</dt>
        <dd>
            <f:for each="{event.eventTimes}" as="eventTime">
                <f:format.raw><kdn:format.timespan dateStart="{eventTime.timeStart}" dateEnd="{eventTime.timeEnd}" format="{settings.single.dateFormatTimespan}" showTime="1" /></f:format.raw><br>
            </f:for>
        </dd>
        <f:if condition="{event.location}">
            <f:then>
                <dt><f:translate key="tx_kdnevents_domain_model_location" />:</dt>
                <dd>{event.location.name}</dd>
            </f:then>
            <f:else if="{event.customLocation}">
                <dt><f:translate key="tx_kdnevents_domain_model_location" />:</dt>
                <dd>{event.customLocation}</dd>
            </f:else>
        </f:if>
    </dl>
</div>

</html>