<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:kdn="http://typo3.org/ns/KDN/KdnEvents/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="event-item" id="block-event-registration">

	<f:if condition="{event.status.registrationText}">
		<div class="event-status-info">
			<f:format.html><kdn:eventMarkers event="{event}">{event.status.registrationText}</kdn:eventMarkers></f:format.html>
		</div>
	</f:if>

	<f:if condition="{event.registrationIsOpen}">
		<f:then>
			<f:if condition="{event.status.isWaitlist}">
				<p class="info-row"><f:translate key="message.event.registrations.waitlist" /></p>
			</f:if>
			<f:render partial="Event/Submit/FormConfirmation" arguments="{event:event, enabledFields: enabledFields, requiredFields: requiredFields, registration:registration, cryptKey:cryptKey, notes:notes}" />
		</f:then>
		<f:else>
			<f:if condition="{event.maxParticipantsReached}">
				<p class="info-row"><f:translate key="message.event.registrations.closed" /></p>
			</f:if>
		</f:else>
	</f:if>
</div>

</html>